# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Asef Farah 202004083-4
* Tamara León Riva 201973015-0
* Franco Viedma Camilla 201904081-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:mijasef1@localhost:5432/Tarea1

env: DATABASE_URL=postgresql://postgres:mijasef1@localhost:5432/Tarea1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1',
   password="mijasef1"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000270E57F2350; dsn: 'user=postgres password=xxx dbname=Tarea1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [42]:
%%sql
CREATE TABLE Usuarios(
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45),
    correo VARCHAR (45) NOT NULL,
    contraseña VARCHAR (45) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
    
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Creadores"

In [43]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    apellido VARCHAR (45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR (45),
    PRIMARY KEY (ID_creador)
    
);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Tipos_NTF"

In [44]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (20) NOT NULL,
    PRIMARY KEY (ID_tipo)


);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "NFT"

In [45]:
%%sql
CREATE TABLE NFT(
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR (45) NOT NULL,
    ID_creador INTEGER,
    ID_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores(ID_creador),
    FOREIGN KEY (ID_tipo) REFERENCES Tipos_NFT(ID_tipo)
    


);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Precio NFT"

In [46]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT(ID_nft)
    


);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

### Tabla "Usuario tiene NFT"

In [47]:
%%sql
CREATE TABLE Usuario_tiene_NFT(
    id_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    id_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT(ID_nft)


);

 * postgresql://postgres:***@localhost:5432/Tarea1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [45]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

En la tabla de creadores, elije solo a los del estilo anime, los ordena de manera descendente por popularidad, y limita a una fila

In [123]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */


SELECT
    id_creador, nombre
FROM 
    Creadores
WHERE estilo = 'Anime'
ORDER BY popularidad DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(10, 'Ronald')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

Uniendo precio_nft con nft y tomando la columna nombre como 'nft', y el conteo de las veces que tiene precio como Cantidad de precios.

In [6]:
%%sql
SELECT nombre as nft ,COUNT(precio) as Cantidad_de_Precios

FROM 
    Precio_NFT NATURAL JOIN NFT
    
GROUP BY nombre

 * postgresql://postgres:***@localhost:5432/Tarea1
125 rows affected.

[('Spells of Genesis', 1),
 ('Dose of Art', 3),
 ('Art Rumble', 1),
 ('Aliens Abduction', 3),
 ('Meteorite NFT', 1),
 ('Atollon Coral', 4),
 ('Bling Bits', 6),
 ('Minecraft Sphere', 5),
 ('United Crypto Token (UCT)', 1),
 ('Crypto Jackpot', 1),
 ('Depressed Dragons', 2),
 ('Artistic Alpha', 3),
 ('Light Embrace', 2),
 ('Crypto Kitties Of War', 3),
 ('Pink Sports Cars', 1),
 ('Cards of Polo', 3),
 ('Addictive Animals', 3),
 ('Visionary Crypto', 4),
 ('Animated Hard Art', 5),
 ('Lucky Lizards', 2),
 ('Flame Stinger', 1),
 ('Bloom of Flowers', 2),
 ('Art Lover Box', 1),
 ('The Gold Betta', 4),
 ('Darker Clouds', 1),
 ('Digital Unicorns', 1),
 ('Digi Gods', 5),
 ('Token Watchdogs', 2),
 ('Futuristic Realism', 3),
 ('Wowoo World', 1),
 ('Crypto Felines', 1),
 ('Hilarious Horses', 1),
 ('Ultra Cool Dogs', 4),
 ('Crypto Pigeon Race', 2),
 ('Mint Chocolates', 3),
 ('Rainbows Ends', 1),
 ('1-Love', 2),
 ('Anna Frozen Entertainers', 2),
 ('Rich Rhinos', 2),
 ('Secret Stones', 2),
 ('Crypto Club', 4),
 ('Crumbs NFT', 3),
 ('Elite Fur Dog Race Club', 1),
 ('Crypto Art Gallery', 5),
 ('Mountain of Clouds', 1),
 ('Couch Potato', 2),
 ('Panther NFT', 1),
 ('Hive City', 2),
 ('Moonlit Butterfly', 2),
 ('Cryptokitty Ville', 4),
 ('Bee Token', 3),
 ('Crystalline Canyon', 2),
 ('Brush Point', 1),
 ('Reflected Light', 3),
 ('Outstanding Octopus', 4),
 ('Healthy Hedgehogs', 1),
 ('Crypto Potluck', 1),
 ('Thunder NFT', 4),
 ('Techno Abstract Aesthetics', 4),
 ('Dust Rift', 2),
 ('Women Power', 2),
 ('Giant Coin', 2),
 ('Touchdown', 2),
 ('Funny Frogs', 3),
 ('Midas NFTs', 1),
 ('Crypto Punked', 3),
 ('Dark Horse Lady', 4),
 ('Dreamy Imaginations', 3),
 ('Crypto Diamonds', 2),
 ('Madame Witch', 4),
 ('Busy Bats', 2),
 ('Dapper Dinos', 1),
 ('Blizz Blizzard', 1),
 ('Dust Sifter', 2),
 ('Pandamonium', 3),
 ('Crypto Boom', 3),
 ('Crypto Life', 1),
 ('Koala Kickers', 2),
 ('Krypto Queen', 2),
 ('1NiTRO', 5),
 ('Graceful Gorillas', 1),
 ('To The Moon', 2),
 ('NFT Lord', 2),
 ('Qat Tree Unicorn', 2),
 ('Mike Halloween Yodelers', 5),
 ('Art Dodger', 2),
 ('Fair Coin', 1),
 ('Cryptonaut', 1),
 ('Sphere Art', 2),
 ('0NOZER0', 3),
 ('White Storm', 3),
 ('Burger Bits', 1),
 ('The Binary Girl', 3),
 ('Flame Blade', 2),
 ('The Teacup Pomeranian', 4),
 ('Non Fungible Nibbles', 3),
 ('Fantasy Token', 1),
 ('Cypherpunk Samurai', 1),
 ('Awesome Concept', 3),
 ('Ultimate League Of Paragon', 2),
 ('Crypto Potato', 2),
 ('Crypto Bunny Ranch', 2),
 ('Nova Auroras', 3),
 ('3D Me', 2),
 ('Fight For The Title', 3),
 ('Rockin Crypto', 2),
 ('Clumsy Crocodiles', 3),
 ('Phonetic Phoenix', 4),
 ('Flame Cats', 4),
 ('Butterfly Dust', 1),
 ('Silver Lining Pixy', 1),
 ('Crypto Kitties', 2),
 ('Enthusiastic Elephants', 2),
 ('Arty Arts', 2),
 ('Clever Chimp', 2),
 ('Water Wiggle', 2),
 ('Blue Mood Chip', 3),
 ('Coin Dance', 3),
 ('Resilient Rats', 1),
 ('Artful Antlers', 3),
 ('Elephant Treasure Hunt', 4),
 ('0xHile', 2),
 ('Block View', 2),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Bit NFT', 6)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

Se utiliza NATURAL JOIN para obtener el nombre y tipo de NFT de la tablas NFT y Precio_NFT. Con la funcion MAX() dentro de WHERE se encuentra el precio más alto y con nft.id_tipo = tipos_nft.id_tipo se obtiene el nombre del tipo.

In [132]:
%%sql
SELECT
    nft.nombre as "NFT", tipos_nft.nombre as "Tipo"
FROM
    NFT NATURAL JOIN Precio_NFT, Tipos_NFT
WHERE precio = (SELECT MAX(precio) FROM Precio_NFT) 
        and nft.id_tipo = tipos_nft.id_tipo

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Busy Bats', 'Arte')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

Une usuarios con usuarios tiene nft, los agrupa por nombre y apellido, y cuenta cuantas veces se repite el id del usuario en tiene nft, los ordena de manera descendiente, y escoje el que tenga mas ocurrencias (El primero)

In [88]:
%%sql
SELECT nombre, apellido
     
FROM 
    Usuarios NATURAL JOIN Usuario_tiene_nft
    
GROUP BY nombre, apellido
ORDER BY count(id_usuario) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Anne', 'Davis')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

Cuenta las repeticiones y ordena precios_nft de manera descendente, selecciona el primero (El mayor) y muestra su nombre a traves de una union con NFT.

In [101]:
%%sql
SELECT id_nft as id, nombre as nft

FROM 
    Precio_NFT NATURAL JOIN NFT

GROUP BY id_nft, nombre
ORDER BY count(precio) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[(86, 'Token Watchdogs')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

Dentro de la operación WHERE, se utiliza NATURAL JOIN dentro de SELECT, para obtener los nombres de los usuarios que tienen NFT, y NOT IN para que se muestren los datos de usuarios que no se encuentran entre ellos.

In [131]:
%%sql
SELECT
    nombre, apellido
FROM 
    Usuarios
WHERE
    nombre NOT IN (SELECT nombre FROM (Usuarios NATURAL JOIN Usuario_tiene_nft));

 * postgresql://postgres:***@localhost:5432/Tarea1
113 rows affected.

[('Lois', 'Mccollum'),
 ('Anna', 'Faulkner'),
 ('Sara', 'Green'),
 ('Celeste', 'Acuna'),
 ('Salvador', 'Harrison'),
 ('Dorothy', 'Surratt'),
 ('Sallie', 'Malone'),
 ('Georgia', 'Igtanloc'),
 ('Marie', 'Cantu'),
 ('Grace', 'Sarro'),
 ('Laura', 'Randall'),
 ('Troy', 'Sapienza'),
 ('Vernon', 'Wismer'),
 ('Jeannette', 'Yarber'),
 ('Mildred', 'Weaver'),
 ('Peter', 'Thruston'),
 ('Hollis', 'Clark'),
 ('Gretchen', 'Reid'),
 ('Archie', 'Washington'),
 ('Douglas', 'Whit'),
 ('Stacy', 'Throckmorton'),
 ('Jeffery', 'Edmons'),
 ('Curtis', 'Eckert'),
 ('Harry', 'Hoff'),
 ('Jennifer', 'Messer'),
 ('Maybelle', 'Patterson'),
 ('Mercedes', 'Rice'),
 ('Michael', 'Ranney'),
 ('Toni', 'Bane'),
 ('Afton', 'Andes'),
 ('Frances', 'Olson'),
 ('Christy', 'Cottingham'),
 ('Linda', 'Banks'),
 ('Edwin', 'Connel'),
 ('Lisa', 'Ryder'),
 ('Will', 'Wickline'),
 ('Dolly', 'Page'),
 ('Elmer', 'March'),
 ('Margo', 'Bailey'),
 ('Ramona', 'Walker'),
 ('Joanne', 'Parenteau'),
 ('Diana', 'Stewart'),
 ('Candelaria', 'Morones'),
 ('Cheryl', 'Borrelli'),
 ('Patrick', 'Fitzgerald'),
 ('Sandra', 'Bogar'),
 ('Lawrence', 'Eligio'),
 ('Lance', 'Peters'),
 ('Ruth', 'Taylor'),
 ('Ruth', 'Schulte'),
 ('Barbara', 'Polanco'),
 ('Janet', 'Johnson'),
 ('Nilsa', 'Hyde'),
 ('Geraldine', 'Hernandez'),
 ('Argelia', 'Knox'),
 ('Kathline', 'Muscarella'),
 ('Sharon', 'Manning'),
 ('Nathan', 'Iles'),
 ('Teodora', 'Sowers'),
 ('Matthew', 'Haskell'),
 ('Temeka', 'Chapa'),
 ('Alice', 'Francese'),
 ('Bernice', 'Sprengeler'),
 ('Anne', 'Schilling'),
 ('Mary', 'Martinez'),
 ('Lawrence', 'Cole'),
 ('Larry', 'Jeffery'),
 ('Joan', 'Uhlig'),
 ('Francis', 'Jarrette'),
 ('Nettie', 'Slocum'),
 ('Daniel', 'Herman'),
 ('Dale', 'Vasquez'),
 ('Jorge', 'Avila'),
 ('Brock', 'Smith'),
 ('Fidel', 'Mcglothin'),
 ('Keith', 'Brown'),
 ('Margaret', 'Hildebrand'),
 ('Jim', 'Beeler'),
 ('Emma', 'Clark'),
 ('Anthony', 'James'),
 ('Otilia', 'Gibbs'),
 ('Terry', 'Gowan'),
 ('Margaret', 'Cochran'),
 ('Della', 'Grimaldo'),
 ('Leona', 'Broussard'),
 ('Cory', 'Wiant'),
 ('Anita', 'Turner'),
 ('Douglas', 'Hagood'),
 ('Sarah', 'Goldtrap'),
 ('Lindsay', 'Broberg'),
 ('Allison', 'Davison'),
 ('Tia', 'Connaughton'),
 ('Ernestine', 'Zeman'),
 ('Abbey', 'Bosworth'),
 ('April', 'Mote'),
 ('Cathleen', 'Lugo'),
 ('Lois', 'Campbell'),
 ('Jesse', 'Ballard'),
 ('Reba', 'Alvarez'),
 ('Beth', 'Nii'),
 ('Kelly', 'Hahn'),
 ('Lois', 'Callahan'),
 ('Helen', 'Keating'),
 ('Allan', 'Keeth'),
 ('Dora', 'Lopez'),
 ('Donna', 'Arroyo'),
 ('Hannah', 'Mcdonald'),
 ('Norma', 'Steele'),
 ('Mary', 'Drew'),
 ('Ricardo', 'Wilson'),
 ('Thomas', 'Prater'),
 ('Leslie', 'Hughes'),
 ('Alan', 'Koller')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

Uniendo NFT con precio_nft, selecciono un tipo de nft cualquiera, en este caso el 1, y descarto aquellas entradas de nft que no tengan la fecha mas reciente de precio, es decir selecciono solo el precio mas nuevo. Luego los ordeno por precio de manera descendiente, y limito la seleccion a los 4 primeros resultados

In [117]:
%%sql
SELECT nombre as NFT
    
FROM NFT 
NATURAL JOIN precio_nft
WHERE 
    id_tipo = 1 and fecha = (SELECT max(fecha) FROM precio_nft WHERE precio_nft.id_nft = nft.id_nft)
GROUP BY nombre, precio
ORDER BY precio DESC
LIMIT 4

 * postgresql://postgres:***@localhost:5432/Tarea1
4 rows affected.

[('Fight For The Title',),
 ('Elephant Treasure Hunt',),
 ('Meteorite NFT',),
 ('Alice Wonderland Frozen Carolers',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

Se utiliza la operación NATURAL JOIN dentro de SELECT para obtener los datos de NFTs y precios de las tablas de Precio_NFT y NFT. Y la operación WHERE para que se muestren solo los que cumplen con la condición de tener una fecha de entre 2017 y 2019.

In [130]:
%%sql
SELECT
    nombre as nft, precio
FROM 
    Precio_NFT NATURAL JOIN NFT
WHERE
    fecha >= '2017-01-01' and fecha < '2020-01-01'

 * postgresql://postgres:***@localhost:5432/Tarea1
121 rows affected.

[('Art Rumble', 64036),
 ('Touchdown', 61758),
 ('Burger Bits', 63069),
 ('Pandamonium', 12937),
 ('Wowoo World', 7878),
 ('Butterfly Dust', 78864),
 ('Crypto Jackpot', 81610),
 ('Crypto Felines', 71887),
 ('To The Moon', 26925),
 ('Ultra Cool Dogs', 90855),
 ('Hive City', 51630),
 ('Animated Hard Art', 14836),
 ('Headed Shark Attack', 22091),
 ('0NOZER0', 1856),
 ('Crypto Boom', 25998),
 ('Enthusiastic Elephants', 24664),
 ('1NiTRO', 52851),
 ('Blue Mood Chip', 5072),
 ('Digi Gods', 78656),
 ('Crypto Potato', 76168),
 ('Elephant Treasure Hunt', 23427),
 ('Cypherpunk Samurai', 96311),
 ('Elephant Treasure Hunt', 85698),
 ('Outstanding Octopus', 16566),
 ('Koala Kickers', 66451),
 ('Clever Chimp', 44509),
 ('Lucky Lizards', 78895),
 ('Crypto Diamonds', 99152),
 ('Busy Bats', 99871),
 ('Moonlit Butterfly', 37836),
 ('Headed Shark Attack', 20279),
 ('Art Rumble', 53673),
 ('Crypto Boom', 4706),
 ('Art Rumble', 60993),
 ('Crumbs NFT', 95746),
 ('Nova Auroras', 61933),
 ('Bit NFT', 13409),
 ('Cards of Polo', 68246),
 ('Rockin Crypto', 53779),
 ('Cryptokitty Ville', 54204),
 ('Rockin Crypto', 23728),
 ('Dapper Dinos', 68112),
 ('Techno Abstract Aesthetics', 84490),
 ('To The Moon', 68362),
 ('Crypto Raptors', 33024),
 ('Minecraft Sphere', 90119),
 ('Phonetic Phoenix', 55667),
 ('Phonetic Phoenix', 58640),
 ('Minecraft Sphere', 85172),
 ('Crystalline Canyon', 72464),
 ('Nova Auroras', 18242),
 ('Crypto Kitties', 87529),
 ('NFT Lord', 88283),
 ('Qat Tree Unicorn', 6416),
 ('Madame Witch', 23857),
 ('Hilarious Horses', 32115),
 ('Women Power', 93027),
 ('Block View', 61576),
 ('Elite Fur Dog Race Club', 90308),
 ('1-Love', 18891),
 ('Art Dodger', 16331),
 ('Block View', 73718),
 ('Bloom of Flowers', 27953),
 ('Sphere Art', 13184),
 ('Rich Rhinos', 27034),
 ('0xHile', 88017),
 ('Hive City', 11157),
 ('Blizz Blizzard', 94552),
 ('Resilient Rats', 17948),
 ('Bitsy', 72558),
 ('Artistic Alpha', 7928),
 ('United Crypto Token (UCT)', 85396),
 ('Headed Shark Attack', 85088),
 ('Bit NFT', 96416),
 ('Koalas in Love', 9541),
 ('Artificial Rocks', 3150),
 ('Panther NFT', 50021),
 ('Elephant Treasure Hunt', 10251),
 ('Doge Pal', 75034),
 ('Touchdown', 28046),
 ('Rich Rhinos', 37770),
 ('Cryptokitty Ville', 72347),
 ('Flame Stinger', 61531),
 ('Darker Clouds', 70770),
 ('Art Rumble', 761),
 ('Crypto Potluck', 3206),
 ('Couch Potato', 99712),
 ('Fair Coin', 42583),
 ('The Gold Betta', 47819),
 ('Rich Rhinos', 20316),
 ('Crypto Pigeon Race', 42217),
 ('Doge Pal', 59388),
 ('Thunder NFT', 68252),
 ('Hilarious Horses', 72407),
 ('Cyberboxer', 78158),
 ('Hilarious Horses', 81156),
 ('Touchdown', 13461),
 ('Crypto Punked', 68181),
 ('Alice Wonderland Frozen Carolers', 78721),
 ('Crypto Potluck', 86944),
 ('Meteorite NFT', 85473),
 ('Calm Crows', 86717),
 ('Women Power', 51600),
 ('Light Embrace', 52571),
 ('Fight Punks', 69773),
 ('Dapper Dinos', 66857),
 ('Ultimate Iconic Crypto (IUC)', 22253),
 ('Non Fungible Nibbles', 86336),
 ('Minecraft Sphere', 31120),
 ('Light Embrace', 32228),
 ('Alice Wonderland Frozen Carolers', 51760),
 ('Bling Bits', 93152),
 ('Brush Point', 98742),
 ('Token Watchdogs', 20384),
 ('Crypto Potato', 78222),
 ('Busy Bats', 20569),
 ('0NOZER0', 80362),
 ('Giant Coin', 56576),
 ('Butterfly Dust', 29778),
 ('Crypto Jackpot', 91067),
 ('Headed Shark Attack', 55956)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

Se hace uso de NAT. JOIN para que COUNT acceda a la tabla usuario_tiene_nft. Luego estos datos se clasifican con GROUP, ORDER y LIMIT para obtener al creador con más ventas

In [129]:
%%sql
SELECT
    nombre as "Nombre", apellido as "Apellido", COUNT(id_NFT) as "Cantidad"
FROM 
    Creadores NATURAL JOIN usuario_tiene_nft
GROUP BY nombre, apellido, id_nft
ORDER BY COUNT(id_NFT) DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Teddy', 'Blevins', 4)]

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

Uniendo nft con precios de NFT, selecciono un creador cualquiera, en este caso el 1, y ordeno sus nfts por precio de manera descendiente, seleccionando solo el primer resultado.

In [121]:
%%sql
SELECT
    nombre as NFT, precio as Valor
FROM 
    nft NATURAL JOIN precio_nft
WHERE
    id_creador = 1
ORDER BY precio DESC
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Tarea1
1 rows affected.

[('Fight For The Title', 98647)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';